header {
    text-align: center;
    padding: 20px 0;
    background-color: white; /* ou la couleur de votre choix */
}

.logo-center {
    width: 300px; /* Ajustez la taille selon vos besoins */
    height: auto;
    display: block;
    margin: 0 auto;
}

.hero-section {
    background-image: url('media/pictures/maraicher.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(17, 189, 37, 0.3); /* Réduire de 0.968 à 0.3 ou moins */
}

.content-overlay {
    position: relative;
    z-index: 1;
    color: rgb(255, 255, 255); /* Mettre en blanc pour mieux contraster */
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5); /* Ajouter une ombre pour la lisibilité */
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: rgb(6, 6, 14);
    padding-top: 60px;
    transition: left 0.5s ease;
    z-index: 2000;
}

.sidenav.active {
    left: 0;
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
}

.sidenav a {
    padding: 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}


.sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}


.burger-icon {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 3000;
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: transparent;
    border: none;
    cursor: pointer;
}


.burger-icon span {
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 10px;
    transition: all 0.3s;
}
