
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px; /* Caché hors écran */
    background-color: blue;
    padding-top: 60px;
    transition: left 0.5s ease;
    z-index: 2000;
}

.sidenav.active {
    left: 0;
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
}

.sidenav a {
    padding: 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}


.sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}


.burger-icon {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 3000;
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: transparent;
    border: none;
    cursor: pointer;
}


.burger-icon span {
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 10px;
    transition: all 0.3s;
}
