.hero-section {
    background-image: url('\media\pictures\maraicher.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(254, 252, 252, 0.968); 
}

.content-overlay {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
}


.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: blue;
    padding-top: 60px;
    transition: left 0.5s ease;
    z-index: 2000;
}

.sidenav.active {
    left: 0;
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
}

.sidenav a {
    padding: 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}


.sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}


.burger-icon {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 3000;
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: transparent;
    border: none;
    cursor: pointer;
}


.burger-icon span {
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 10px;
    transition: all 0.3s;
}
